/* index.css */

/* Apply a reset to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define CSS variables for light theme (default) */
:root {
  --background-color: rgba(233, 233, 233, 1);
  --secondary-background-color: rgba(255, 255, 255, 1);
  --foreground-color: rgba(66, 119, 255, 1);
  --primary-text-color: rgba(34, 40, 49, 1);
  --secondary-text-color: rgba(233, 233, 233, 1);
  --primary-text-color-fade: rgba(34, 40, 49, 0.60);
  --svg-fill-color: rgba(34, 40, 49, 1); 
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

/* Define CSS variables for dark theme */
[data-theme="dark"] {
  --background-color: rgba(34, 40, 49, 1);
  --secondary-background-color: rgba(57, 62, 70, 1);
  --foreground-color: rgba(66, 119, 255, 1);
  --primary-text-color: rgba(233, 233, 233, 1);
  --secondary-text-color: rgba(34, 40, 49, 1);
  --primary-text-color-fade: rgba(233, 233, 233, 0.6);
  --svg-fill-color: rgba(233, 233, 233, 1); 
  --toggle-bg: #283452;
  --toggle-fg: #4277FF;
}

/* Other global styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
