.bookings {
  width: 100%;
  background-color: #f0f2f5; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.total-price{
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #333;
  color: white;
  align-items: center;
  border-radius: 50px;
  font-size: 25px;
}

.bookingsCont{
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonsBooking h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center; /* Center the section title */
  color: #333; /* Darker text for titles */
}

.bookings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100%;
}

.booking-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 32%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.booking-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.booking-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.booking-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-card h3{
  font-size: 25px;
}

.DatesCont{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.DateCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  border-radius: 10px;
}

.DateCont h1{
  font-size: 20px;
  margin: 0;
  color: white;
}

.DateCont p{
  font-size: 20px;
  margin: 0;
  color: white;
}

.totalPrice{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #efefef;
  border-radius: 500px;
}

.totalPrice p{
  font-size: 20px;
  color: black;
}

.booking-card button {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.booking-card button:hover {
  background-color: #ff2a3b;
}

.buttonsBooking{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.buttonsBooking button{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 500px;
}

.checkout-button:hover {
  background-color: #0056b3;
}

.empty-bookings {
  text-align: center;
  font-size: 24px;
  color: #888;
  margin-top: 50px;
}
