.SignUpContainer {
    height: 100vh;
    width: 100%;
    background-color: #E9E9E9;
    display: flex; /* Use flexbox to arrange items */
}

.LoginContainerButton {
    width: 35%;
    height: 100vh;
    background-image: url(../assets/signup/SignUpBackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormContainer{
    display: flex;
    flex-direction: column;
    background-color: #E9E9E9;
}

.LogInForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 6vh;
}

.LogInForm input[type="text"],
.LogInForm input[type="email"],
.LogInForm input[type="password"] {
    color: rgba(0, 0, 0, 0.600);
    font-size: 2.5vh;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    width: 50vh;
}

.Icons{
    width: 4vh;
}

.EmailForm{
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 8vh;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.PasswordForm{
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 8vh;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.FormContainer {
    width: 65%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailsContainer {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo2 {
    width: 50%;
    height: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 8vh;
    font-family: "Roboto", sans-serif;
    border-bottom: 3px solid white;
    color: white;
    text-align: center;
}

.signinblock {
    width: 100%;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    color: white;
    display: flex;
    justify-content: center;
}

.buttonSignIn {
    padding: 3vh 15vh;
    background-color: white;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 2.011px 4.022px 0px rgba(0, 0, 0, 0.10);
}

.buttonSignIn:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.LoginTitle{
    text-align: center;
    color: black;
    font-size: 6vh;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2vh;
}

.LoginSubtitle{
    text-align: center;
    color: rgba(0, 0, 0, 0.600);
    font-size: 2.5vh;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2vh;
}

.LoginSocials{
    display: flex;
    gap: 3vh;
    align-items: center;
    justify-content: center;
}

.socials{
    width: 8vh;
}

.LoginSeparator{
    text-align: center;
    color: rgba(0, 0, 0, 0.600);
    font-size: 2.5vh;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2vh;
}

.SignUpButton{
    padding: 3vh 15vh;
    background-color: #4277FF;
    color: white;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

p {
    color: red;
    font-size: 0.875rem;
}

  





