/* src/css/signUp.css */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.SignUpContainer {
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
}

/* Form Container */
.FormContainer {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogInText {
    text-align: center;
}

.LoginTitle {
    color: var(--primary-text-color);
    font-size: 6vh;
    font-weight: 700;
    padding-bottom: 2vh;
}

.LoginSubtitle {
    color: var(--primary-text-color-fade);
    font-size: 2.5vh;
    font-weight: 500;
    padding-bottom: 3vh;
}

.LoginSocials {
    display: flex;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}

.socials {
    width: 10vh;
}

.LoginSeparator {
    color: var(--primary-text-color-fade);
    font-size: 2.5vh;
    font-weight: 400;
    padding-bottom: 2vh;
}

.LogInForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 6vh;
}

/* Input styles */
.LogInForm input[type="text"],
.LogInForm input[type="email"],
.LogInForm input[type="password"],
.LogInForm input[type="number"] {
    color: var(--primary-text-color-fade);
    font-size: 2.5vh;
    font-weight: 400;
    border: none;
    outline: none;
    width: 24vw;
    background: var(--secondary-background-color);
}

.Icons {
    width: 4vh;
}

.EmailForm,
.PasswordForm {
    width: 40vw;
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 8vh;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Button styles */
.LogInButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginButtonCont1 {
    padding: 3% 15%;
    background-color: var(--foreground-color);
    color: var(--secondary-text-color);
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Sign Up Container */
.SignUpContainer1 {
    width: 35%;
    height: 100%;
    background-image: url(../assets/signup/SignUpBackground.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignUpNavigatorContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LogoAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LogoAndName {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 0.2vh solid var(--secondary-background-color);
    padding-bottom: 1vh;
}

.LogoCont {
    padding-right: 3vh;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.LogoCont img {
    width: 100%;
}

.LogoTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 8vh;
    font-weight: 700;
}

.Description {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.DescriptionTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 6vh;
    font-weight: 700;
    padding-bottom: 2vh;
}

.DescriptionText {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 3vh;
    font-weight: 500;
}

.SignUpButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignUpButtonCont {
    padding: 3vh 15vh;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0px 2.011px 4.022px 0px rgba(0, 0, 0, 0.10);
}

/* Error message style */
p {
    color: red;
    font-size: 0.875rem;
}
  





